# Xcode
xcuserdata/
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# OS files
.DS_Store

# Xcode Workspace
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
